:root {
  --accent: #ff6c00;
  --white-text: #ffffff;
  --hero-pram-text: #9da4bd;
  --hero-second-text: rgba(157, 164, 189, 0.6);
  --titel-text: #303030;
  --primery-text: #555555;
  --bg-onlain-book: #191c26;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.photo {
    display: block;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
body {
  color: var(--primery-text);

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}
.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.headers {
    display: flex;
}
.header {
    display: flex;
    align-items: center;
  background-color: var(--bg-onlain-book);
}
.nav {
    margin-left: 100px;
    margin-right: 254px;
}
.nav-list {
    display: flex;
    padding-left: 0;

  list-style: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.1em;
}
.nav-link {
  color: var(--white-text);
  text-decoration: none;
}
.nav-list .item:not(:last-child){
    margin-right: 30px;
}

.link-tel {
    margin-right: 40px;
  color: var(--white-text);

  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.1em;
}
.accent:hover,
.accent:focus
 {
  color: var(--accent);
}
.button {
  padding: 12px 20px;
  border-color: var(--accent);
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;

  color: var(--white-text);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.button:hover,
.button:focus {
    background-color: var(--accent);
}

.hero {
  background-color: var(--bg-onlain-book);
}
.hero-pre-text {
  color: var(--hero-second-text);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-titel {
  color: var(--white-text);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.hero-text {
  color: var(--hero-pram-text);

  line-height: 1.89;
}

/* ABOUT */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-list {
    display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
.about-list .item:not(:last-child) {
    margin-right: 30px;
}
.aboutis {
    display: flex;
}
.inform {
    width: 470px;
}
.about-pre-text {
    margin-top: 0;
    margin-bottom: 20px;

  color: var(--titel-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.about-titel {
margin-top: 0;
    margin-bottom: 20px;

  color: var(--titel-text);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.about-pre-titel {
   margin-top: 0;
    margin-bottom: 20px; 
}
.about-text {
    margin-top: 0;
    margin-bottom: 42px;
    
  font-size: 14px;
  line-height: 1.85;
}
.about .button {
  color: var(--titel-text);
}

.prices {
    padding-top: 120px;
    padding-bottom: 120px;
  background-color: var(--bg-onlain-book);
}
.prices-pre-text {
    margin-top: 0;
    margin-bottom: 20px;
  color: var(--hero-second-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.prices-titel {
    margin-top: 0;
    margin-bottom: 44px;
  color: var(--white-text);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.list-price {
    display: flex; 
    margin-bottom: 44px;   
}
.list-price > .item:not(:last-child) {
  margin-right: 30px;
}
.list-price-left {
    padding: 30px 20px;
    
    width: 570px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.list-price-left .item {
    display: flex;
    justify-content: space-between;
}
.list-price-left .item:not(:last-child),
.list-price-right .item:not(:last-child) {
  margin-bottom: 20px;
}
.list-price-right {
    padding: 30px 20px;
    width: 570px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.list-price-right .item {
    display: flex;
    justify-content: space-between;
}

.servis {
    margin-top: 0;
    margin-bottom: 0;

  color: var(--hero-pram-text);
}
.price {
    margin-top: 0;
    margin-bottom: 0;

  color: var(--hero-pram-text);
}
.prices .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* Features */
.features {
  display: flex;
}
.features-list-text {
  color: var(--titel-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.features-pre-text {
  color: var(--titel-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.features-titel {
  color: var(--titel-text);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

/* Barbers */
.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.barber-pre-text {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--titel-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.barber-titel {
  margin-top: 0;
  margin-bottom: 44px;

  color: var(--titel-text);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.barber-list {
  display: flex;
  padding-left: 0;
}
.barber-list .item:not(:last-child) {
  margin-right: 30px;
}
.barber-list-name {
  margin-top: 30px;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
}
.barber-list-posit {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--accent);
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
}
/* Portfolio */
.exsempl-titel {
  color: var(--titel-text);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.exsempl-list {
  display: flex;
  padding-left: 0;
}