.service {
  padding-top: 130px;
  padding-bottom: 100px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../imeges/bg-services.png);
  background-size: cover;
  background-color: #111319;
}
.services__pre-titel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  
  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: rgba(157, 164, 189, 0.6);
}
}
.services__titel {
margin-bottom: 44px;

  color: #ffffff;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
.services__information {
  display: flex;
  margin-bottom: 44px;
  
  column-gap: 30px;
}

.list-services {
    padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.list-services__first {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.list-services__second {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.list-services__item {
  display: flex;
  align-items: baseline;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &::after {
content: "";
flex-grow: 1;
margin: 0 12px;
height: 1px;
background-color: rgba(157, 164, 189, 0.12);
  }
}
.list-services__service {
  color: #9da4bd;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.list-services__price {
  color: #9da4bd;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  order: 1;
}
.services__wraper-button {
    text-align: center;
}
.services__button {
    padding: 12px 20px;
    color: #ffffff;
}
